/*********************
W4S CSS
Description: Specific stylesheet for the page Way4Smart in the Armis ITS website
Date: 04 june 2018
Version: 1.0
Developer: Impacting Digital
*********************/

    @media screen and (min-width: 768px){
    .its .w4s .container{
            max-width:940px;
        }
    }
.w4s .middle-banner-lp{
    background-color: #00afab;
    background-image: url(http://www.armis.pt/media/1723/bg-smart-cities-02-mobile.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
    color: white;
    padding: 50px 0 320px 0;
    margin: 25px 0 25px 0;
}
.w4s .middle-banner-lp .text-style-2{
    font-size: 30px;
    max-width: 300px;
}
    @media screen and (min-width: 768px){
        .w4s .middle-banner-lp{
            padding: 80px 0 80px 0;
            background-image: url(http://www.armis.pt/media/1724/bg-smart-cities-02.jpg);
            background-position: right bottom;
        }
        .w4s .middle-banner-lp .text-style-2{
            font-size: inherit;
        }
    }
    @media screen and (min-width: 1440px){
        .w4s .middle-banner-lp{
            background-size:1140px;
        }
    }
.w4s #section2-w4s{
    background-image: url(http://www.armis.pt/media/1718/bg-pills-01.png);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: contain;
    padding: 50px 0 50px 0;
    margin: 25px 0 25px 0;
}
.w4s #section4-w4s{
    max-width:480px;
    margin:0 auto
}
    @media screen and (min-width: 768px){
        .w4s #section4-w4s{
           max-width:960px;
        }
    }
.w4s #section5-w4s{
    max-width:960px;
    margin:0 auto;
    padding:20px 10px 0;
}
.w4s #section5-w4s::before{
    content: " ";
    position: absolute;
    right: 0;
    left: auto;
    width: 50%;
    height: 500px;
    background-image: url(http://www.armis.pt/media/1718/bg-pills-01.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    background-size: contain;
    margin-top: -100px;
}
.w4s #section6-w4s{
    max-width:480px;
    margin:25px auto;
}

@media screen and (min-width: 768px){
    .w4s #section6-w4s{
        max-width:960px;
    }
    #section4-w4s{
    max-width: 100%;
    }
}
.w4s .smart-circles{
    display: inline-block;
    padding-top: 30px;
    margin-top: -80px;
    color: white;
    text-align: center;
    border-radius:100px;
    width: 120px;
    height: 120px;
}
.w4s .smart-circles h5{
    font-weight: normal;
}
.w4s .smart-description{
    display: inline-block;
    padding: 25px 25px 25px 25px;
    text-align: center;
}
.w4s .smart-box{
    background-color: #ECF3F7;
    border-radius:30px;
    margin-top: 90px;
    text-align: center;
}

    @media screen and (min-width: 768px){
        .w4s .smart-box{
            position:relative;
            min-height:150px;
            background-color: #ECF3F7;
            border-radius:75px;
            margin-top: 20px;
            padding: 10px;
        }
        .w4s .smart-boxes .text-detalhe3:nth-child(odd) .smart-description{
            padding: 15px 160px 0 15px;
            text-align: right;
        }
        .w4s .smart-boxes .text-detalhe3:nth-child(odd) .smart-circles{
            left:auto;
            right:0;
        }
        .w4s .smart-circles{
            padding-top: 36px;
            position:absolute;
            left:0;
            top:0;
            margin:10px;
            color: white;
            text-align: center;
            border-radius:100px;
            width: 130px;
            height: 130px;
        }
        .w4s .smart-description{
            display:table-cell;
            vertical-align: middle;
            padding: 15px 15px 0 160px;
            text-align: left;
        }
    }
.w4s .w4s-logo-lp{
    max-width: 200px;
}
.w4s-logo-lp h1{
    text-indent: -9999px;
    width:200px;
    height:46px;
    background-image: url(http://www.armis.pt/media/1731/w4s_logo-2x.png);
    background-size:100%;
    background-repeat: no-repeat;
}
    @media screen and (min-width: 768px){
        .w4s-logo-lp h1{
            width:300px;
            height:74px;
            margin-left:40px;
        }
        .w4s .w4s-logo-lp{
            margin-top:60px;
            max-width:400px
        }
        .w4s .w4s-logo-lp::before{
            content:" ";
            display:block;
            position:absolute;
            top:-100px;
            left:25px;
            border:1px solid #00AFAB;
            border-top:0;
            width:340px;
            height:400px;
            border-radius:0 0 200px 200px;
        }
    }
.w4s .banner-lp{
    position: relative;
    padding: 50px 0 220px 0;
    margin: 0 0 25px 0;
    background-image: url(http://www.armis.pt/media/1725/bg-smartcities-01-mobile.jpg);
    background-repeat: no-repeat;
    background-position: left bottom;
    background-size: cover;
}
    @media screen and (min-width: 420px){
        .w4s .banner-lp{
            background-image: url(http://www.armis.pt/media/1722/bg-smart-cities-01.jpg);
        }
    }
    @media screen and (min-width: 768px){
        .w4s .banner-lp{
            background-position: right bottom;
            padding: 100px 0 320px 0;
        }
    }
    @media screen and (min-width: 1440px){
        .w4s .banner-lp{
            background-image: url(http://www.armis.pt/media/1721/bg-smart-cities-01-large.jpg);
        }
    }

.w4s .special-items-lp{
    display: table-cell;
    vertical-align: middle;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    padding: 0 10px 0 100px;
    height: 250px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.w4s .bg-s-1-lp{
    background-image: url(http://www.armis.pt/media/1727/bg-topic-analisar.jpg);
}
.w4s .bg-s-2-lp{
    background-image: url(http://www.armis.pt/media/1728/bg-topic-implementar.jpg);
}
.w4s .bg-s-3-lp{
    background-image: url(http://www.armis.pt/media/1729/bg-topic-informar.jpg);
}
.w4s .bg-s-4-lp{
    background-image: url(http://www.armis.pt/media/1726/bg-topic-acompanhar.jpg);
}
    @media screen and (min-width: 768px){
        .w4s .special-items-lp{
            padding: 0 10px 0 45%;
        }
    }
.w4s .w4s-cta-lp{
    background-color: #222222;
    padding: 50px 0 50px 0;
    margin: 25px 0 0 0;
    text-align: left;
}
.w4s .screen-w4s-01{
    width:100%;
    max-width:320px;
    display:block;
    margin:0 auto;
}
.w4s .video-w4s-lp{
    width: 300px;
    height: 169px;
    margin: 20px auto 0;
    display:block;
}
    @media screen and (min-width: 480px){
        .w4s .video-w4s-lp{
            width: 460px;
            height: 259px;
        }
    }
    @media screen and (min-width: 768px){
        .w4s .video-w4s-lp{
            width: 100%;
            height: 529px;
        }
    }
.w4s .section-screen-lp{
    text-align: center;
    padding: 30px 0 30px;
}
.w4s .section-screen-lp .text-style-2.h4-its{
    text-align: center;
}

    @media screen and (min-width: 768px){
        .w4s .section-screen-lp{
            text-align: left;
            padding-top:80px;
        }
        .w4s .section-screen-lp .text-style-2.h4-its{
            text-align: left;
        }
    }
.w4s .section-screen-lp a.w--current.w-inline-block.places{
    color: #1DAFA8;
    border-color: #1DAFA8;
    text-decoration: none;
    float: none;
}
.w4s .places.w--current:hover{
    background-color: #fff;
    color:#1DAFA8;
}
.w4s .section-screen-lp a.contacts-here.w--current.w-inline-block.places:hover{
    background-color: #1DAFA8;
    color:#fff;
}
.w4s .middle-banner-lp a.w--current.w-inline-block.places{
    text-decoration: none;
}
a.contacts-here{
    color:inherit;
}
